.mainBlock{
	margin: 5px;
	min-height: 100%;
}
.homeBlock{
	margin: 5px;
	min-height: 100px;
}
.page{
	// height: 800px;
}

.profileBox{

}

.profilePicture{
	float:left;
	width: 20%;
	border-radius: 5px;
}
.profileName{
	text-align: left;
	// clear:both;
}