@import "../../style/_variables";
.logoWrap{
  background-color: $gray-800;
  border-radius: 0 0 3px 3px;
  border: 1px solid $gray-900;
}
.menuItem{
  border-radius: 3px;
  background-color: $gray-700;
  border: 1px solid $gray-900;
}
.logo{
  width:100%;
}

.loginButton{
  width:100%;
  color: $gray-900;
  font-size: large;
  background-color: pink;
  border-color: purple;
  border-radius: 5px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  // padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}